// Layout
.ivu-layout-header
  background transparent !important


// Form
.ivu-form-item-label:before
  content '' !important

.ivu-form-item
  display flex !important
  
.ivu-form .ivu-form-item-label
  padding 10px 0 !important
  text-align left !important

.ivu-form-item-content
  width 100% !important
  margin 0 !important

// Modal
// .ivu-modal-close
//   top 13px !important
//   right 10px !important

// .ivu-modal-confirm-head
//   padding 0 0 20px 0 !important
//   text-align center !important

// .ivu-modal-confirm-footer
//   display none !important

// .ivu-modal-confirm-head-icon
//   display none !important

// .ivu-modal-confirm-head-title
//   margin 0 auto !important


// remote select
.ivu-select-dropdown
  max-height 155px !important

