//font
$font-size-basic = 16px
$font-size-large = rem($font-size-basic * 1.25)
$font-size-small = rem($font-size-basic * 0.875)
$font-family-basic = 'SF-Bold'

//color
$input-error-color = #ff7384
$error-color = #ff7384
$color-primary = #2d8cf0